<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />


  <springProfile name="dev">
    <root level="INFO">
<!--      <appender-ref ref="DEVHELPER" />-->
    </root>
  </springProfile>
  <springProfile name="test">
    <root level="INFO">
<!--      <appender-ref ref="DEVHELPER" />-->
    </root>
  </springProfile>
  <springProfile name="prod">
    <root level="INFO">
<!--      <appender-ref ref="DEVHELPER" />-->
    </root>
  </springProfile>

</configuration>